@model IEnumerable<QNA.Models.Answer>

@{
    ViewData["Title"] = "Index";
}



<h2>"@ViewBag.Ques"</h2>

<p>
    <a asp-action="AddAnswer"  asp-route-id="@ViewBag.QuestionID" >Add Answer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerDateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.UpVote)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.DownVote)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.UpVote)

            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.DownVote)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Question.QuestionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnswerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnswerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnswerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
