@model IEnumerable<QNA.Models.Question>

@{
    ViewData["Title"] = "Index";
}
<style>
    table {
        border-collapse: collapse;
        border-spacing: 5em;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    
</style>

<h1>All Questions</h1>

<p>
    <a asp-action="Create">Ask Question</a>
</p>
<table class="table" cellpadding="5" cellspacing="5" >

    <tbody>
@foreach (var item in Model) {
        <tr style="padding-bottom: 15px">
            <td >
                
                    <div>
                        <a asp-action="answer" asp-route-id="@item.QuestionId"> @Html.DisplayFor(modelItem => item.QuestionName)</a>
                    </div>
                    <br />
                    <br />

                    <div>

                        <span style="float:left">Posted by : @Html.DisplayFor(modelItem => item.name)</span>

                        <span style="float:right">Category : @Html.DisplayFor(modelItem => item.CategoryName)</span>

                    </div>
               
                <br />

                
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>*@
            <td style="float:right">
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>

            </td>
        </tr>
        
}
    </tbody>
</table>
